node_modules
.next
out
build
coverage
storybook-static
playwright-report
test-results
.git
.github
.husky
.vscode
.storybook
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
e2e
__tests__
.env*
npm-debug.log*
Dockerfile
.dockerignore
README.md
